<html>
    <script src="/qrcode.js"></script>
    <body>
        <div id="qrcode"></div>
        <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "199003328057724253012100");
        </script>
    </body>
</html>